body {
    background-image: url(images/static.png);
}

.text_hope {
    position: absolute;
    top: 60%;
    left: 55%;
    min-width: 25%;
    min-height: 10%;
    background-color: black;
    max-width: 19%;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

a {
    color: #15e415;
}

a:link {
    background-color: #15e415;
}

a:hover {
    color: black;
    background-color: black;
    cursor: pointer;
}