.error {
    position: absolute;
    top: 60%;
    left: 55%;
    max-width: 25%;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

.restart {
    position: absolute;
    bottom: 5%;
    right: 5%;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

a:link {
    background-color: black;
}

a:hover {
    background-color: white;
}