body {
    background-image: url(images/static.png);
}

.bg_black_square {
    top: 60%;
    left: 55%;
    min-width: 25%;
    min-height: 40%;
    background-color: black;
    position: absolute;
    
}

.text_dumb {
    position: absolute;
    top: 0%;
    left: 0%;
    min-width: 25%;
    max-width: 100%;
    max-height: 80%;
    line-height: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.text_typo {
    position: absolute;
    bottom: 2%;
    right: 5%;
    max-width: 100%;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

a {
    color: #15e415;
}

a:link {
    background-color: #15e415;
}

a:hover {
    color: black;
    background-color: black;
    cursor: pointer;
}