body {
    background-image: url(images/static.png);
}

.bg_black {
    position: absolute;
    top: 0%;
    left: 55%;
    width: 45%;
    background-color: black;
    height: 100%;
}

.text_line_one {
    position: absolute;
    top: 60%;
    left: 55%;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.text_line_two {
    position: absolute;
    top: 65%;
    left: 60%;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.text_line_three {
    position: absolute;
    bottom: 10%;
    right: 4%;
    max-width: 37%;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

a {
    color: #15e415;
}

a:link {
    background-color: #15e415;
}

a:hover {
    color: black;
    background-color: black;
    cursor: pointer;
}