body {
    background-image: url(images/static.png);
}

.bg_black {
    position: absolute;
    top: 60%;
    left: 55%;
    width: 45%;
    min-height: 40vh;
    background-color: black;
}

.text_list {
    position: absolute;
    top: 0%;
    left: 0%;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.text_solution {
    position: absolute;
    right: 3%;
    bottom: 10%;
    max-width: 80%;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

a {
    color: #15e415;
}

a:link {
    background-color: #15e415;
}

a:hover {
    color: black;
    background-color: black;
    cursor: pointer;
}